.*
backups/

!.github/
!.config/
!.local/
!.ssh/
!.gemini/
!.terminfo/

!.env


!.gitignore
!.gitattributes

!.zshrc
!.stowrc
!.stow-local-ignore
!.markdownlint-cli2.yaml
!.editorconfig
!.prettierignore
!.release-please-manifest.json

!.luarc.json
