.*
backup/

!.github/
!.config/
!.local/
!.ssh/

!.gitignore
!.gitattributes

!.zshrc
!.stowrc
!.stow-local-ignore
!.markdownlint.yaml
!.editorconfig
!.prettierignore
!.release-please-manifest.json

!.luarc.json
